* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.Nav{
  padding: 8px 20px;
  text-align: center;
  background-color: #D88373;
  color: white;
  margin-top: 0;
  border: none;
  height: 60px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  
}

.flight-symbol{
  
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 33px;
}

.location{
  display: flex;
  margin: 45px;
}

.location-img{
  height: 225px;
  width: 370px;
  border-radius: 6px;
  margin-right: 30px;
}

.location-intro{
  margin-top: 10px;
  display: flex;
 
  margin-right: 0;
}

.location-symbol{
  font-size: 20px;
  padding: 0;
  margin-right: 0;
}

.header{
  padding-top: 8px;
  padding-bottom: 8px;
}

.date{
  
  padding-bottom: 26px;
}

.country{
  margin-right: 15px;
  font-weight: bold
}

hr{
  margin: 1px 40px;
}
